<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>팀팰리세이드</title>
</head>
<body>
	<div id="map" style="width:800px;height:600px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4e0e301eb708257d3f1bf940c38419f6&libraries=services"></script>
	<script type = "text/javascript">


 		var infowindow = new kakao.maps.InfoWindow({zIndex:1});
		var container = document.getElementById('map');
		var value1 = 37.555086
		var value2 = 127.044233

        var place_name = "한양대학교 병원"

		var options = {
			center: new kakao.maps.LatLng(value1, value2),
			level: 4
		};

		var map = new kakao.maps.Map(container, options);
			
		var markerPosition  = new kakao.maps.LatLng(value1, value2); 
		var myPositionmarker = new kakao.maps.Marker({
			position: markerPosition
		});

		myPositionmarker.setMap(map);
		
	
		var ps = new kakao.maps.services.Places(map); 
		
        //ps.keywordSearch('응급실',placesSearchCB,{useMapBounds:true});

        
  
 
 
        ps.categorySearch('HP8', placesSearchCB, {useMapBounds:true}); 
        
		function placesSearchCB (data, status, pagination) {
		    if (status === kakao.maps.services.Status.OK) {
		        for (var i=0; i<data.length; i++) {
                    console.log(data[i].place_name);
		            displayMarker(data[i]);    
		        }       
		    }
		}
		function displayMarker(place) {
		    // 마커를 생성하고 지도에 표시합니다
		    var marker = new kakao.maps.Marker({
		        map: map,
		        position: new kakao.maps.LatLng(place.y, place.x) 
		    });
	
		    // 마커에 클릭이벤트를 등록합니다
		    kakao.maps.event.addListener(marker, 'click', function() {
		        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
		        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
                console.log(place.id);
                place_name = place.id;
		        infowindow.open(map, marker);
		    });
		}
		
        
        function goPost(){
             var obj1 = place_name;

             

             var form = document.createElement("form");
             form.setAttribute("charset", "UTF-8");      
             form.setAttribute("method", "Post"); // Get 또는 Post 입력
             form.setAttribute("action", "map");

              

              var hiddenField = document.createElement("input");
              hiddenField.setAttribute("type", "hidden");
              hiddenField.setAttribute("name", "v1");
              hiddenField.setAttribute("value", obj1);
              form.appendChild(hiddenField);

               

      //        var url ="target.jsp"
  //            var title = "testpop"
    //          var status = "toolbar=no,directories=no,scrollbars=no,resizable=no,status=no,menubar=no,width=1240, height=1200, top=0,left=20"

//                 window.open("", title,status); //팝업 창으로 띄우기. 원치 않으면 주석.

               
 //                 form.target = title;
                  document.body.appendChild(form);

                   

                    

              form.submit();
              console.log("function returned..");
        }
    


	</script>
</body>
 <input type="submit" name = "btn1" value = "위기상황" onClick="goPost()" >
</html>
