<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
<title>Login Demo - Kakao JavaScript SDK</title>
<script src="//developers.kakao.com/sdk/js/kakao.min.js">

var d = new Date();
var n = d.toLocaleString();
//<![CDATA[
// 사용할 앱의 JavaScript 키를 설정해 주세요.
Kakao.init('4e0e301eb708257d3f1bf940c38419f6');
// 카카오 로그인 버튼을 생성합니다.
function STM_Login(){
    Kakao.API.request({
        url: '/v1/api/talk/memo/send',
        data: {
            template_id: '6899',
            args: '{"${msg1}": "' + n + '", "${msg2}": "로그인", "${msg3}": "환영합니다."}'
        },
        success: function(res) {
            document.getElementById("text").innerHTML = n + "<br>League of Legends 자동 게임 수락: 로그인<br>나와의 채팅방으로 메시지를 보냈습니다.";
        },
        fail: function(error) {
            document.getElementById("text").innerHTML = n + "<br>League of Legends 자동 게임 수락: 로그인<br>나와의 채팅방으로 메시지를 보낼 수 없습니다.<br>" + JSON.stringify(error);
        }
    });
}
//]]
</script>
</form>


</body>
</html>
